@charset "UTF-8";

body {
    /* neutral colors/gray-800 */

    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.principal {
    background-color:#374151;
    height:420px;
    width:736px;
    border-radius:8px;
    padding:32px;
    display:flex;
    flex-direction:column;
}

.imgcartao {
    position: absolute;
    left: calc(62% - 280px/2);
    top: calc(40% - 168px/2);
}